# Installed dependencies (large directories)
node_modules/
dist/

# Local configuration files and secret keys (FinOps & security)
.env
.env.local

# System log files and editor cache
npm-debug.log*
.eslintcache
.DS_Store
.vscode/

# Code coverage reports (Jest/SWC)
coverage/